/* style.css */
.experience {
    padding: 20px;
    background-color: cadetblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(29, 28, 28, 0.1);
  }
  
  .experience h2 {
    font-size: 2rem;
    color: #181919; /* Adjust color as needed */
    margin-bottom: 1rem;
  }
  
  .experience ul {
    list-style-type: none; /* Remove default list styling */
    padding-left: 0;
  }
  
  .experience li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  
  .experience strong {
    color: #292d2e; /* Adjust color for emphasis */
  }
  